<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style2.css">
    <link rel="icon" type="image/x-icon" href="/slike/logo2.png">
    <title>Skedyul</title>
</head>

<body>
  <center>  <h1 class = "naslov">Dobrodošli na E-raspored!</h1></center>


  <center>
  <div class="containOdabir">
    <img src="/slike/logopng.png" class="imgOdabir">
        <h1 class = "login-naslov">Prijavite se</h1>
           <form action ="/admin-login" method ="GET" class="form">
                <button id="btnOdabir" type ="submit">
                    Prijavite se kao administrator
                </button>
            </form>
            <form action ="/skola-login" method ="GET" class="form">
                <button type ="submit" id="btnOdabir">
                    Prijavite se kao škola
                </button>
            </form>
            </div>
        </form>
    </div>
  </center>


    <script src="Public/script2.js"></script>
</body>

</html>