<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style2.css">
    <link rel="icon" type="image/x-icon" href="/slike/logo2.png">
    <title>Skedyul - Škola login</title>
</head>

<body>
    <center>
    <div class="containSkola">
        
        <img src="/slike/logopng.png" class="logoSkola">
        <form class="form" action="/skolalogin" method="POST">
            <h1 style="color: #264348;">Škola Login</h1>
            <div class="fields">
                <div class="ime">
                    <p>Unesi naziv škole:</p>
                    <input style="background-color: #F0FFFF;" type="text" id="susername" name = "susername"  placeholder="Naziv">
                </div>
                <div class="prezime">
                    <p>Unesi password škole:</p>
                    <input style="background-color: #F0FFFF;"  type="password" id="spassword" name = "spassword" placeholder="Lozinka">
                </div>
                <button class="btnPrijava" type = "submit" id="btn">Login</button>
            </div>
        </form>
    </div>
</center>


    <script src="Public/script2.js"></script>
</body>

</html>