<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <link rel="stylesheet" href="/style3.css">
  <link rel="icon" type="image/x-icon" href="/slike/logo2.png">
  <title> Preusmjeravanje... </title>

</head>
<body style="background-color: rgb(31, 38, 44);">

  <br><br><br><br><br><br><br><br><br><br><br><br>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<center>
  <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_GD2RmK.json"  background="transparent"  speed="1"  style="width: 200px; height: 200px;"    autoplay></lottie-player>
</center>
    <br>
<h1 style="color: white;text-align: center;font-family: NexaSuper;">USPJEŠNA PRIJAVA</h1>
<script>
  setTimeout(function () {
   window.location.href = "pocetna-skola"; //will redirect to your blog page (an ex: blog.html)
}, 3000); //will call the function after 2 secs.
</script>
</body>
</html>